.custom-button {
    margin-right:10px;
    margin-bottom: 10px;
    min-width: 160px;
    width: auto;
    height: 50px;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0 35px 0 35px;
    font-size: 15px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed';
    font-weight: bolder;
    border: none;
    cursor: pointer;
    outline: none;
    &.google-btn{
      background-color: blue;
    }
    &:hover {
      background-color: #515151;      
      color: #ffffff;

      // border: 1px solid black;
    }
  }
  